* {
  font-size: 12px;
}

::-webkit-scrollbar {
  display: none;
}

.ReactTable {
  width: 100% !important;
  overflow: scroll;
  padding-right: 0px;
}

.Bold {
  font-weight: bold;
}

.Green {
  color: #009e73;
}

.Red {
  color: #d94040;
}

.Grey {
  background-color: #e5e5e5;
}

.DGrey {
  background-color: grey;
}

.row-cell {
  text-align: center;
}

.timer {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.rt-table {
  max-height: 92vh;
  overflow: scroll;
}
@media (max-width: 800px) {
  .fixed {
    position: sticky !important;
    background-color: #fff;
    z-index: 0;
  }

  .pattern {
    margin-left: 100px;
  }
}
